<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>{{ page.title }} - Express Form for Expressjs</title>
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/css/pygments/native.css" type="text/css" media="screen" charset="utf-8">
</head>

<body>
  <a href="http://github.com/dandean/express-form"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/img/forkme.png" alt="Fork me on GitHub" /></a>

  <div id="container">
    <h1>{{ page.title }}</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/docs">The Basics</a></li>
        <li><a href="/docs/module.html">Express Form Module</a></li>
        <li><a href="/docs/validate.html">Validation</a></li>
        <li><a href="/docs/filter.html">Filtering</a></li>
      </ul>
    </nav>
    {{ content }}
  </div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-21657174-1");
pageTracker._trackPageview();
} catch(err) {}

Array.prototype.slice.call(document.querySelectorAll("span.nx")).forEach(function(el) {
  var text = el.textContent;
  if (text.match(/^form|validate|filter$/)) {
    el.className = "vc";
  } else if (text.match(/^is|not|reg|noRegex|required|trim|isEmail$/)) {
    el.className = "bp";
  }
});
</script>
</body>
</html>
